<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlt.sys.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dlt.sys.entity.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="user_email" property="userEmail" />
        <result column="user_phone" property="userPhone" />
        <result column="user_image" property="userImage" />
        <result column="user_status" property="userStatus" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, salt, user_email, user_phone, user_image,  user_status, deleted, create_time, update_time
    </sql>

    <!--  根据用户Id查询用户所拥有的角色  -->
    <select id="selectUserRoleNameSet" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT
            DISTINCT t2.role_name
        FROM
            sys_user_role t1,sys_role t2
        WHERE
            t2.role_id = t1.role_id
        AND
            t1.user_id = #{userId}
    </select>

    <!--  根据用户Id查询用户所拥有的权限  -->
    <select id="selectUserPermissionNameSet" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT
          DISTINCT t1.permission
        FROM
          sys_resource t1,
          sys_role_resource t2,
          sys_user_role t3
        WHERE
          t1.permission IS NOT NULL
        AND
            t1.resource_id = t2.resource_id
        AND
            t2.role_id = t3.role_id
        AND t3.user_id = #{userId}
    </select>

    <select id="selectMenuList" resultType="com.dlt.sys.entity.Menu" parameterType="java.lang.Integer">
        SELECT
          distinct t1.resource_id,
          t1.parent_id,
          t1.resource_name,
          t1.url,
          t1.icon
        FROM
            sys_resource t1,
            sys_role_resource t2,
            sys_user_role t3
        WHERE
            t1.resource_id = t2.resource_id
        AND t2.role_id = t3.role_id
        AND t1.type != 2
        AND t3.user_id = #{userId}
        ORDER BY order_num ASC
    </select>

    <select id="selectAllMenuList" resultType="com.dlt.sys.entity.Menu" parameterType="java.lang.Integer">
        SELECT
          distinct t1.resource_id,
          t1.parent_id,
          t1.resource_name,
          t1.url,
          t1.icon
        FROM
            sys_resource t1
        ORDER BY order_num ASC
    </select>
</mapper>
