<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlt.sys.mapper.UserRoleMapper">
    <select id="selectByUserId" parameterType="java.lang.Integer"
            resultType="com.dlt.sys.entity.UserRole">
        SELECT
            t1.role_name,
            t1.role_id,
            t2.user_id
        FROM
            sys_role t1
        LEFT JOIN sys_user_role t2 ON t1.role_id = t2.role_id
        AND t2.user_id = #{userId}
    </select>
</mapper>
